hr{
    width: 70%;
    margin: 5% 20%;
}

.logo img{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.logo p{
    font-family: MBF-MODERN-REBEL;
}

.politica .sub{
font-family: Barlow-Bold;
}

.politica .text{
    font-family: Barlow-Medium;
}

.footer{
    position: relative;
    bottom: 0;
}

.footer-content{
    border-top: solid #597688 2px;
    padding-top: 2rem;
}