.nos-slide{
  height: 45rem;
  width: 100%;
  background-image: url('../gallery/nos_slides_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nos-slide *{
  background-color: transparent;
}

.nos-slide h1{
  font-family: 'Barlow-Medium';
  font-size: 34px;
line-height: 34px;
  letter-spacing: 0.0025em;
color: #ECECEC;
}

.nos-slide .content{
  display: flex; 
  height: 75%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}



.nos-slide-text{
  width: 40%;
  font-family: 'Barlow-Medium';
  text-align: left;
  color: #ECECEC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nos-slide-text h1{
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  overflow: visible;
  margin-bottom: 1rem;
  display: flex;
  letter-spacing: 0.0025em;
}

.nos-slide-text p, .nos-slide-text p b{
  font-weight: 500;
font-size: 20px;
line-height: 24px;
/* or 120% */
letter-spacing: 0.015em;
}
.nos-slide-text p b{
font-family: 'Barlow-Bold';
}




.nos-slide-img{
  margin-top: 1rem;
  height: 95%;
  width: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 19.955px;
}

.nos-slide-text-features{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.section *{
  overflow: hidden;
}

.nos-proceso{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  width:70%;
  font-family: 'Barlow-Medium';
  color: #ECECEC;
}

.nos-proceso-row1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nos-proceso-row2{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.nos-proceso-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slide-proceso .nos-slide-text{
  width: 60%;
}

.slide-valor .nos-slide-text{
  justify-content: space-between;
}

.arrows{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 22.5rem;
  color: #ECECEC;
  background-color: transparent;
  font-size: 2rem;
  padding: 0 2rem;
  margin: 0;
  height: 2rem;
}
.arrows *{
  background-color: transparent;
}

.arrows *:hover{
  background-color: #ecececd8;
  color: #113141;
  border-radius: 50%;
}

.arrows span{
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


@media (max-width: 1400px){
  .slide-valor .content .nos-slide-text h1{
    font-size: 50px;
    line-height: 50px;
  }
  .nos-slide-img{
    width: 30rem;
    height: auto;
  }
}
@media (max-width: 1400px){
  .slide-valor .content .nos-slide-text h1{
    font-size: 40px;
    line-height: 40px;
  }
  .nos-slide-img{
    width: 25rem;
    height: auto;
  }
}




@media(max-width: 999px){

  .nos-slide{
    height: 50rem;
  }
  .nos-proceso{
    width: 90%;
  }
  .slide-history .content {
    flex-direction: column;
    justify-content: center;
  }

  .slide-history .content .nos-slide-text {
    width: 80%;
    justify-content: center;
    align-items: center;
    height: 25rem;
    text-align: center;
  }
  .slide-history .content .nos-slide-text h1 {
    text-align: center;
    font-size: 30px;
    margin: 0;
  }

  .slide-proceso .nos-slide-text{
    width: 80%;
  }

  .slide-valor .content{
    flex-direction: column;
  }

  .slide-valor .content .nos-slide-text{
    width: 80%;
    margin-top: 2rem;
    height: 35rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .slide-valor .content .nos-slide-text h1{
    font-size: 35px;
    line-height: 35px;
  }
  .nos-slide-img{
    height: 25rem;
    width: auto;
  }

    .nos-slide-text-features{
      width: 60%;
    }


}
@media(max-width: 773px){
  .nos-slide{
    height: 65rem;
  }
  .nos-proceso{
    flex-direction: row;
    width: 90%;
    overflow: visible;
  }
  .nos-proceso-row1, .nos-proceso-row2{
    flex-direction: column;
  }

  .slide-valor .nos-slide-text{
    justify-content: center;
    height: 45rem;
    padding: 0 1rem;
  }

  .slide-valor .content .nos-slide-text p, .slide-valor, .content .nos-slide-text p b{
    font-size: 16px;
    line-height: 18px;
    height: 15rem;
  }

  .slide-valor .content .nos-slide-text h1{
    font-size: 35px;
    line-height: 35px;
  }
  .nos-slide-img{
    height: 25rem;
    width: auto;
  }

    .nos-slide-text-features{
      width: 60%;
      height: 18rem;
      margin-top: 1rem;
    }

    .arrows span{
      height: 5rem;
      z-index: 2000;
    }
}

@media(max-width:580px){
  .nos-slide{
    height: 55rem;
  }
  .slide-history .content .nos-slide-text h1 {
    font-size: 25px;
  }
  .nos-slide-text p, .nos-slide-text p b{
  font-size: 16px;
  line-height: 18px;
  }
  
  .arrows span{
    height: 5rem;
    z-index: 2000;
  }
}

.nos-proceso-icon{
  z-index: 500;
}